<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Download / Email / Print your Receipt!</title>
</head>
<body>
    <h1> Receipt Information</h1>
    <input type="text" id="orderId" name="orderId" placeholder="Enter OrderID">
    <button  onclick="getReceipt()">Get Receipt</button>

    <div id="response"></div>

    <button onclick="printPage()">Print</button>
    <script >
        function getReceipt() {
    // Get the values from the input fields
    var orderId = document.getElementById('orderId').value;
    console.log(orderId);
    const url = "http://127.0.0.1:5000/receipt/order/"+ orderId;

    const requestOptions = {
        method: "GET", // Replace with the desired HTTP method (e.g., GET, POST, PUT, DELETE)
        headers: {
        "Content-Type": "application/json", // Specify that we're sending JSON data
    }

    };


fetch(url, requestOptions)
  .then((response) => {
    if (!response.ok) {
      throw new Error(`Network response was not ok: ${response.status} ${response.statusText}`);
    }
    return response.json(); // Parse the response JSON data
  })
  .then((data) => {

    var element = document.getElementById('response');
    console.log(element);
    element.innerHTML= `
    <h3>orderID : ${data.orderID}</h3>
    <h3>productName : ${data['productName']}</h3>
    <h3>price : ${data['price']}</h3>
    <h3>reciptNumber : ${data['reciptNumber']}</h3>
    <h3>totalPrice : ${data['totalPrice']}</h3>
    `;
    console.log(data);
  })
  .catch((error) => {
    // Handle any errors that occurred during the fetch
    console.error("Error:", error);
  });

}

 function printPage(){
        window.print();
 }
    </script>

</body>
</html>