<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="style.css">
    <title>Emerging Technologies User Login</title>
</head>
<body>
    <h1>Login to an Emerging Technologies Account:</h1>
    <form>
        <label for="username">Username:</label>

        <input type="text" id="username" name="username" required>

        <br>

        <label for="password">Password:</label>

        <input type="password" id="password" name="password" required>

        <br>

        <button onclick="login()">Login</button>
    </form>


<script>

</script>
</body>
</html>
