<!DOCTYPE html>
<html>
<head>
    <title>Emerging Technologies</title>
</head>
<body>
    <h1>Emerging Technologies</h1>
    <form action="/" method="post">
        <button name="action" value="1"><a href = '/shoppingcart'>Add product to cart</a></button><br>
        <button name="action" value="2">Remove product from cart</button><br>
        <button name="action" value="3">Show total price</button><br>
        <button name="action" value="4">Checkout</button><br>
    </form>
    <p>{{ message }}</p>
</body>
</html>
