<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Download / Email / Print your Receipt!</title>
</head>
<body>
    <tr>
    <h1>Receipt</h1>
    <p>Username: {{ orders.username }}</p>
    <p>Date Purchased: 08/02/2023</p>
    <p>Total Amount: {{ orders.total }}</p>
    <p>Order ID: {{ orders.orderID }}</p>
    <p>Product ID: {{ orders.productID }}</p>
    <p>User ID: {{ orders.userID }}</p>
    <p>Quantity: {{ orders.quantity }}</p>

    </tr>

    <br>

    <br>
</body>
</html>