<!DOCTYPE html>
<html>
<head>
    <title>Shopping Cart</title>
</head>
<body>
    <h1>Emerging Technologies</h1>
    <form chosenItem="/removeshoppingcart" method="post">
        <button name="chosenItem" value="1"><a href="/">Laptop</a></button><br>
        <button name="chosenItem" value="2"><a href="/">Cookware Set</a></button><br>
        <button name="chosenItem" value="3"><a href="/">Hiking Backpack</a></button><br>
        <button name="chosenItem" value="4"><a href="/">Smartphone</a></button><br>
        <button name="chosenItem" value="5"><a href="/">Fitness Tracker</a></button><br>
        <button name="chosenItem" value="6"><a href="/">Scented Candle Set</a></button><br>
        <button><a href="/">back</a></button>
    </form>
    <p>{{ message }}</p>
</body>
</html>

