<!DOCTYPE html>
<html>
<head>
    <title>Shopping Cart</title>
</head>
<body>
    <h1>Emerging Technologies</h1>
    <form chosenItem="/removeshoppingcart" method="post">
        <button name="chosenItem" value="123">Laptop</button><br>
        <button name="chosenItem" value="456">Cookware Set</button><br>
        <button name="chosenItem" value="789">Hiking Backpack</button><br>
        <button name="chosenItem" value="101">Smartphone</button><br>
        <button name="chosenItem" value="202">Fitness Tracker</button><br>
        <button name="chosenItem" value="303">Scented Candle Set</button><br>
        <button><a href="/">back</a></button>
    </form>
    <p>{{ message }}</p>
</body>
</html>

