<!DOCTYPE html>
<html>
<head>
    <title>Emerging Technologies User Shipping Info</title>
</head>
<body>
    <h1>Login to an Emerging Technologies Account:</h1>
    <form method="post" action="/user/shipping">
        <label for="username">Username:</label>

        <input type="text" id="username" name="username" required>

        <br>

        <label for="shipping">Shipping Address:</label>

        <input type="shipping" id="shipping" name="shipping" required>

        <br>

        <input type="submit" value="shipping">
    </form>
</body>
</html>
