<!DOCTYPE html>
<html>
<head>
    <title>Emerging Technologies Payment Processing</title>
</head>
<body>
    <h1>Providing payment details.</h1>
    <form method="post" action="/user/payment">
        <label for="username">Username:</label>

        <input type="text" id="username" name="username" required>

        <br>

        <label for="password">Password:</label>

        <input type="password" id="password" name="password" required>

        <br>

        <label for="cardnum">Cardnum:</label>

        <input type="text" id="carnum" name="cardnum" required>
        
        <br> 

        <label for="expdate">ExpDate:</label>

        <input type="text" id="expdate" name="expdate" required>

        <br>

        <label for="ccv">CCV:</label>

        <input type="text" id="ccv" name="ccv" required>

        

        

        <input type="submit" value="payment">
    </form>
</body>
</html>
