<!DOCTYPE html>
<html>
<head>
    <title>Shopping Cart</title>
</head>
<body>
    <h1>Emerging Technologies</h1>
    <form chosenItem="/shoppingcart" method="post">
        <button name="chosenItem" value="1">Laptop</button><br>
        <button name="chosenItem" value="2">Cookware Set</button><br>
        <button name="chosenItem" value="3">Hiking Backpack</button><br>
        <button name="chosenItem" value="4">Smartphone</button><br>
        <button name="chosenItem" value="5">Fitness Tracker</button><br>
        <button name="chosenItem" value="6">Scented Candle Set</button><br>
        <button><a href="/">back</a></button>
    </form>
    <p>{{ message }}</p>
</body>
</html>


